@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
html{
    background-color: rgb(13, 129, 138);
}
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
 }

canvas {
    background: #ddd;
  }
  
  .column{
    float: left;
    width: 33.33;
    padding: both;
  }
  .shape::after{
    content: "";
    display: table;
    clear: both;
  }
  h1{
    background-color: rgba(42, 114, 114, 0.247);
    text-align: center;
  }
  